<div class="mainBackground">
  <div class="mainbody">
    <div class="headerDiv">
      <div class="logoDiv">
        <img src="../../assets/images/NRlogo.svg" alt="" />
      </div>
      <div class="buttonsDiv">
        <div
          class="headerButton"
          *ngFor="let item of headerButtons; let i = index"
          [class.active]="selectedIndex == i"
          (click)="setActiveClass(i)"
        >
          <a href="{{ item.linkName }}">{{ item.name }}</a>
        </div>
      </div>
    </div>
    <div class="bodyDiv">
      <div class="infoAndImgDiv">
        <div class="slider">
          <div class="slide infoDiv">
            <div class="info1">
              <div class="nameDiv">Hi, I'm Nishanth</div>
              <div class="roleDiv">UI/UX Designer</div>
              <div class="objectiveDiv">
                I dissect intricate user experience challenges to craft
                integrity-centered solutions that resonate with billions of user
              </div>
              <div class="redirectBtns">
                <div class="cvBtn">
                  <div class="btnText">Download CV</div>
                  <div class="btnIcon">
                    <img src="../../assets/images/downloadCV.svg" alt="" />
                  </div>
                </div>
                <div class="redirectBtn">
                  <img src="../../assets/images/Twitter.svg" alt="" />
                </div>
                <div class="redirectBtn">
                  <img src="../../assets/images/Instagram.svg" alt="" />
                </div>
                <div class="redirectBtn">
                  <img src="../../assets/images/Linkedin.svg" alt="" />
                </div>
              </div>
            </div>
            <div class="info2">
              <div class="experienceBox">
                <div class="numberDiv">3</div>
                <div class="textDiv">Years of Experience</div>
              </div>
              <div class="experienceBox">
                <div class="numberDiv">10 +</div>
                <div class="textDiv">Projects Completed</div>
              </div>
            </div>
          </div>
          <div id="myworks" class="slide myworksDiv">
            <div class="slideHead">My Works</div>
            <div class="slideInfoDiv">
              We transform your ideas and desires into a distinctive web project
              that inspires both you and your customers.
            </div>
            <div class="slideContentDiv myworksDiv">
              <div class="projectCard" *ngFor="let i of projectArray">
                <div class="projectImg">
                  <div class="projectImgInner">
                    <div class="projectURL">
                      Project
                      <img
                        src="../../assets/images/arrow-up-right 1.svg"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="myexp" class="slide myexpDiv">
            <div class="slideHead">My Experience</div>
            <div class="slideContentDiv myexpDiv">
              <div class="expItem" *ngFor="let item of experienceArray">
                <div class="buttonDiv"></div>
                <div class="expDiv">
                  <div class="expDate">
                    {{ item.dateFrom }} - {{ item.dateTo }}
                  </div>
                  <div class="expRole">{{ item.expRole }}</div>
                  <div class="expCompAndLoc">
                    {{ item.company }}, {{ item.location }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="myskills" class="slide myskillsDiv">
            <div class="slideHead">My Skills</div>
            <div class="slideInfoDiv">
              We put your ideas and thus your wishes in the form of a unique web
              project that inspires you and you customers.
            </div>
            <div class="slideContentDiv myskillsDiv">
              <div class="skillCard" *ngFor="let i of skillsArray">
                <div class="skillIcon">
                  <img src="{{ i.skillIcon }}" alt="" />
                </div>
                <div class="skillName">{{ i.skillName }}</div>
              </div>
            </div>
          </div>
          <div id="contact" class="slide feedbackDiv">
            <div class="formDiv">
              <div class="slideHead">Let's work together!</div>
              <div class="slideInfoDiv">
                "I create elegantly simple designs through coding and am
                passionate about my work. It's just that straightforward!"
              </div>
              <form [formGroup]="contactForm" (ngSubmit)="sendEmail()">
                <div class="userInputs">
                  <div class="ui">
                    <input
                      type="text"
                      placeholder="First name"
                      formControlName="firstName"
                    />
                    <div
                      *ngIf="
                        contactForm?.get('firstName')?.invalid &&
                        contactForm?.get('firstName')?.touched
                      "
                      class="error-message"
                    >
                      First name is required.
                    </div>
                  </div>
                  <div class="ui">
                    <input
                      type="text"
                      placeholder="Last name"
                      formControlName="lastName"
                    />
                    <div
                      *ngIf="
                        contactForm?.get('lastName')?.invalid &&
                        contactForm?.get('lastName')?.touched
                      "
                      class="error-message"
                    >
                      Last name is required.
                    </div>
                  </div>
                  <div class="ui">
                    <input
                      type="email"
                      placeholder="Email address"
                      formControlName="email"
                    />
                    <div
                      *ngIf="
                        contactForm?.get('email')?.invalid &&
                        contactForm?.get('email')?.touched
                      "
                      class="error-message"
                    >
                      <div
                        *ngIf="contactForm?.get('email')?.errors?.['required']"
                      >
                        Email is required.
                      </div>
                      <div *ngIf="contactForm?.get('email')?.errors?.['email']">
                        Invalid email address.
                      </div>
                    </div>
                  </div>
                  <div class="ui">
                    <input
                      type="tel"
                      placeholder="Phone number"
                      formControlName="phone"
                    />
                    <div
                      *ngIf="
                        contactForm?.get('phone')?.invalid &&
                        contactForm?.get('phone')?.touched
                      "
                      class="error-message"
                    >
                      <div
                        *ngIf="contactForm?.get('phone')?.errors?.['required']"
                      >
                        Phone number is required.
                      </div>
                      <div
                        *ngIf="contactForm?.get('phone')?.errors?.['pattern']"
                      >
                        Phone number must be 10 digits.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ui userMessage">
                  <textarea
                    placeholder="Message"
                    formControlName="message"
                  ></textarea>
                  <div
                    *ngIf="
                      contactForm?.get('message')?.invalid &&
                      contactForm?.get('message')?.touched
                    "
                    class="error-message"
                  >
                    Message is required.
                  </div>
                </div>
                <button type="submit" class="submitBtn">Send Message</button>
              </form>
            </div>
            <div class="contactsDiv"></div>
          </div>
        </div>
        <div class="imgDiv">
          <img src="../../assets/images/profilePic.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
